.fuente{
    font-family: 'Pacifico', cursive;
}

.fuente2{
    font-family: 'Mali', cursive;
}

.fondo{
    background-color: #07A1E1;
}

.subfondo{
    background-color:#f14864
}

.fondoFooter{
   background-color: #E9E9E9;
}